* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/northern-lights.webp");
    background-size: center;
    background-position: center;
}

button {
    background-color: white;
    border: 5px solid darkred;
    color: darkred;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: darkred; 
    color: white;
}